[class*="revision-notes_blur"] {
    max-height: none !important;
    overflow: visible !important;
}
[class*="revision-notes_blur"]::after {
    content: none !important;
    background: none !important;
}
[class^="LimitWall_signUpWrapper"] {
    display: none !important;
}